

#table-id th , #table-id td{
    text-align: center;
}

#table-id tr:nth-child(even){
    background-color: #BEF2F5
}

.pagination{

}
.pagination li:hover{
    cursor: pointer;
    text-decoration:none;
    background-color:#B2DFDB;
}

.page-num{
    display:inline-block;
    width:45px;
    text-align:center;
    cursor:pointer;
    text-decoration:none;
    color:#009688;
}

.page-num:hover{
    display:inline-block;
    width:45px;
    cursor:pointer;
    text-decoration:none;
    background-color: #80CBC4;
    color: #E0F2F1;
}

.selected-page, .selected-page:visited{
    background-color:#26A69A;
    color: #E0F2F1;
    text-decoration:none;
}

.pagesize{	
	margin-bottom:0px;
}

li:active{
    background-color:#009688 !important;
    color:red !important;
}

.container { margin-top:150px;}